@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #9339c6;
}

/*#C69339*/
/*#39C693*/

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #9339c6;
  height: 100px;
}

.picture-placeholder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 100px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.picture-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-detail {
  /*background-color: #716cf5;*/
  color: #899300;
  width: 200px;
  height: 400px;
  position: relative;
  margin-top: 25px;
}

.task-container {
  display: flex;
  margin: 5%;
  padding: 5px;
  gap: 10px;
}
.task-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-list {
  display: flex;
  padding: 10px;
  /*background-color: #9339c6;*/
  flex-direction: column;
  height: fit-content;
}
.task-list-h2 {
  height: 28px;
}
.task-list-h2:hover {
  background-color: #84cf48;
}

.task {
  background-color: #c69339;
  color: black;
  width: 200px;
  height: 180px;
  padding: 10px;
}

.task-add-form {
  display: flex;
  flex-direction: column;
}

.popup-detail {
  width: auto;
  height: auto;
  max-height: 480px;
  padding: 20px;
  border-radius: 8px;
  border: none;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 55%;
}
